<%- include ('partials/header.ejs') %>
    <%- include ('partials/nav.ejs') %>
    <%- include ('partials/sidebar.ejs') %>

            <div style="background-color: #FEF5E4;display: flex; width: 100%;flex-direction: column;flex-direction: column; justify-content: flex-start; ">
                <div style="background-color: #F5F5F5; width: 100%;height: 70px; margin-bottom: 10px;">
                    <p style="margin-top: 20px; margin-left: 20px;">Página inicial</p>
                </div>
                <div class="div-recepicao">
                    <div style="display: flex; margin-top: 10px; margin-left: 10px" >
                        <p>Quem Bom ver você, <%= user %>!</p>
                    </div>
                    <div class="div-logout">
                        <% if (typeof loggedOut==="undefined" ) { %>
                            <a class="nav-link" href="/logout"><img src="imgs/icons/Punch.svg" width="30px"></a>
                            <% } else { %>
                                <a class="nav-link" href="/login">Fazer Login</a>
                                <% } %>
                    </div>
                </div>

                <div class="div-infos">
                    <div class="subDiv-infos">
                        <p>
                            <% if (ultimoId !== null) { %>
                            Total de usuários dos sistema
                            <br>Cadastrados: <span style="color: #1158B7;"><%= ultimoId !== null ? ultimoId : 0 %></span> Pendentes: <span style="color: #D32940;">0</span>
                            <% } %>
                        </p>
                    </div>
                    <p>|</p>
                    <div>
                        <p>
                            Total de rebanhos registrados
                            <br>Cadastrados: <span style="color: #1158B7;">1</span> Pendentes:<span style="color: #D32940;">0</span>
                        </p>
                    </div>
                    <p>|</p>
                    <div>
                        <p>
                            Total de bubalinos registrados
                            <br>Cadastrados:  <span style="color: #1158B7;"><%= ultimoBufaloId !== null ? ultimoBufaloId : 0 %></span> Pendentes:<span style="color: #D32940;">0</span>
                        </p>
                    </div>
                </div>

                <div class="div-infos" style="justify-content: left; background-color: #F5F5F5;">
                    <div style="display: flex; margin-left: 10px">
                        <p>Registro de acesso ao sistema</p>
                    </div>

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col" style="background-color: #FFCF78;">
                                    <p>Nome</p>
                                </th>
                                <th scope="col" style="background-color: #FFCF78;">
                                    <p>Data e hora de início</p>
                                </th>
                                <th scope="col" style="background-color: #FFCF78;">
                                    <p>Data e hora de término</p>
                                </th>
                                <th scope="col" style="background-color: #FFCF78;">
                                    <p>Ultimas tarefas realizadas</p>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                <% funcionarios.forEach(Funcionario => { %>
                    <% demandas.forEach(Demanda => { %>
                        <% if (Demanda.funcionarioId === Funcionario.id) { %>
                            <tr>
                                <td>
                                    <p><%= Funcionario.nome %></p>
                                </td>
                                <td>
                                    <p><%= new Date(Demanda.dataInicio).toLocaleString() %></p>
                                </td>
                                <td>
                                    <p><%= new Date(Demanda.createdAt).toLocaleString() %></p>
                                </td>
                                <td>
                                    <p><%= Demanda.tipoServico %></p>
                                </td>
                            </tr>
                        <% } %>
                    <% }) %>
                <% }) %>
            </tbody>
                    </table>
                </div>


            </div>
        </div>

        <%- include ('partials/footer.ejs') %>