<%- include ('partials/header.ejs') %>
    <%- include ('partials/nav.ejs') %>

        <div style="display: flex;">
            <div class="d-flex flex-column align-items-stretch flex-shrink-0 "
                style="width: 380px; background-color: #F5F5F5;height: 100vh;  ">

                <div class="list-group list-group-flush border-bottom scrollarea">

                    <a href="#" class="list-group-item list-group-item-action py-3 lh-tight"
                        style="background-color: #E0E0E0;">

                        <div class="d-flex w-100 align-items-center" style="">
                            <img src="imgs/icons/home.svg" alt="" class="ml-2" width="30px" style="margin: 0 10px 0 0;">
                            <strong class="mb-1" style="font-size: 20px;">Pagina inicial</strong>
                        </div>

                        <div class="col-10 mb-1 small"></div>
                    </a>


                    <a href="#" class="list-group-item list-group-item-action py-3 lh-tight"
                        style="background-color: #F5F5F5;">

                        <div class="d-flex w-100 align-items-center" style="">
                            <img src="imgs/icons/demanda.svg" alt="" class="ml-2" width="30px"
                                style="margin: 0 10px 0 0;">
                            <strong class="mb-1" style="font-size: 20px;">Atribuir demandas </strong>
                        </div>

                        <div class="col-10 mb-1 small"></div>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action py-3 lh-tight"
                        style="background-color: #F5F5F5;">

                        <div class="d-flex w-100 align-items-center" style="">
                            <img src="imgs/icons/demanda.svg" alt="" class="ml-2" width="30px"
                                style="margin: 0 10px 0 0;">
                            <strong class="mb-1" style="font-size: 20px;">Rebanhos</strong>
                        </div>

                        <div class="col-10 mb-1 small"></div>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action py-3 lh-tight"
                        style="background-color: #F5F5F5;">

                        <div class="d-flex w-100 align-items-center" style="">
                            <img src="imgs/icons/user.svg" alt="" class="ml-2" width="30px" style="margin: 0 10px 0 0;">
                            <strong class="mb-1" style="font-size: 20px;">Usuarios cadastrados</strong>
                        </div>

                        <div class="col-10 mb-1 small"></div>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action py-3 lh-tight"
                        style="background-color: #F5F5F5;">

                        <div class="d-flex w-100 align-items-center" style="">
                            <img src="imgs/icons/charts.svg" alt="" class="ml-2" width="30px"
                                style="margin: 0 10px 0 0;">
                            <strong class="mb-1" style="font-size: 20px;">Controle zootécnico</strong>
                        </div>

                        <div class="col-10 mb-1 small"></div>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action py-3 lh-tight"
                        style="background-color: #F5F5F5;">

                        <div class="d-flex w-100 align-items-center" style="">
                            <img src="imgs/icons/charts.svg" alt="" class="ml-2" width="30px"
                                style="margin: 0 10px 0 0;">
                            <strong class="mb-1" style="font-size: 20px;">Controle sanitario</strong>
                        </div>

                        <div class="col-10 mb-1 small"></div>
                    </a>


                    <a href="#" class="list-group-item list-group-item-action py-3 lh-tight"
                        style="background-color: #F5F5F5;">

                        <div class="d-flex w-100 align-items-center" style="">
                            <img src="imgs/icons/charts.svg" alt="" class="ml-2" width="30px"
                                style="margin: 0 10px 0 0;">
                            <strong class="mb-1" style="font-size: 20px;">Controle reprodução</strong>
                        </div>

                        <div class="col-10 mb-1 small"></div>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action py-3 lh-tight"
                        style="background-color: #F5F5F5;">

                        <div class="d-flex w-100 align-items-center" style="">
                            <img src="imgs/icons/config.svg" alt="" class="ml-2" width="30px"
                                style="margin: 0 10px 0 0;">
                            <strong class="mb-1" style="font-size: 20px;">Configurações</strong>
                        </div>

                        <div class="col-10 mb-1 small"></div>
                    </a>

                </div>
            </div>

            <div style="background-color: #FEF5E4;display: flex; width: 100%;flex-direction: column;flex-direction: column; justify-content: flex-start; ">
                <div style="background-color: #F5F5F5; width: 100%;height: 70px; margin-bottom: 10px;">
                    <p style="margin-top: 20px; margin-left: 20px;">Página inicial</p>
                </div>
                <div class="div-recepicao">
                    <div style="display: flex; margin-top: 5px; margin-left: 10px" >
                        <p>Quem Bom ver você, QQQ</p>
                    </div>
                    <div class="div-logout">
                        <% if (typeof loggedOut==="undefined" ) { %>
                            <a class="nav-link" href="/logout"><img src="imgs/icons/Punch.svg" width="30px"></a>
                            <% } else { %>
                                <a class="nav-link" href="/login">Fazer Login</a>
                                <% } %>
                    </div>
                </div>

                <div class="div-infos">
                    <div class="subDiv-infos">
                        <p>
                            <% if (ultimoId !== null) { %>
                            Total de usuários dos sistema
                            <br>Cadastrados: <%= ultimoId %> Pendentes: <span>5</span>
                            <% } %>
                        </p>

                    </div>
                    <p>|</p>
                    <div>
                        <p>
                            Total de rebanhos registrados
                            <br>Cadastrados: 4‎ ‎ ‎ ‎ Pendentes: 4
                        </p>
                    </div>
                    <p>|</p>
                    <div>
                        <p>
                            Total de bubalinos registrados
                            <br>Cadastrados:  <%= ultimoBufaloId %> Pendentes: 4
                        </p>
                    </div>
                </div>

                <div class="div-infos" style="justify-content: left; background-color: #ffffff;">
                    <div style="display: flex; margin-left: 10px">
                        <p>Registro de acesso ao sistema</p>
                    </div>

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col" style="background-color: #FFCF78;">
                                    <p>Nome</p>
                                </th>
                                <th scope="col" style="background-color: #FFCF78;">
                                    <p>Data e hora de acesso</p>
                                </th>
                                <th scope="col" style="background-color: #FFCF78;">
                                    <p>Data e hora de saida</p>
                                </th>
                                <th scope="col" style="background-color: #FFCF78;">
                                    <p>Ultimas tarefas realizadas</p>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <% funcionarios.forEach(Funcionario=> { %>
                                <tr>
                                    <td>
                                        <p>
                                            <%= Funcionario.nome %>
                                        </p>
                                    </td>
                                    <td>
                                        <p>
                                            <%= Funcionario.nome %>
                                        </p>
                                    </td>
                                    <td>
                                        <p>
                                            <%= Funcionario.nome %>
                                        </p>
                                    </td>
                                    <td>
                                        <p>
                                            <%= Funcionario.nome %>
                                        </p>
                                    </td>
                                </tr>
                                <% }) %>
                        </tbody>
                    </table>
                </div>


            </div>
        </div>
        <%- include ('partials/footer.ejs') %>