<%- include('partials/header.ejs') %>
<%- include('partials/nav.ejs') %>
<%- include('partials/sidebar.ejs') %>

<div style="background-color: #FEF5E4;display: flex; width: 100%;flex-direction: column;flex-direction: column; justify-content: flex-start; ">
    <div style="background-color: #F5F5F5; width: 100%;height: 70px; margin-bottom: 10px;width: 100%;">
        <p style="margin-top: 20px; margin-left: 20px;">Controle Sanitário</p>
        <div style="justify-content: right; display: flex;margin-left: auto;margin-top: -40px;">
                <button class="btn btn-dark" style="background-color: #2D220A;">Exportar dados</button>
        </div>
    </div>
    
    <!-- Visão Geral -->
<div class="overview" style="text-align: center; margin: auto; width: 50%;">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th style="background-color: #FFCF78;">Total de Búfalos</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><%= totalBufalos %></td>
            </tr>
        </tbody>
    </table>
</div>


    <!-- Gráfico de Barras -->
    <div class="chart-container">
        <canvas id="graficoSanitario"></canvas>
    </div>
    

    <!-- Tabela de Vacinas/Tratamentos em Pendência -->
<div class="pending-treatments">
    <h2>Vacinas/Tratamentos em Pendência</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th style="background-color: #FFCF78;">Nome Búfalo</th>
                <th style="background-color: #FFCF78;">Tag</th>
                <th style="background-color: #FFCF78;">Vacina / Tratamento</th>
                <th style="background-color: #FFCF78;">Data de Vacinação</th>
                <th style="background-color: #FFCF78;">Próxima Dose</th>
            </tr>
        </thead>
        <tbody>
            <% sanitario.forEach(item => { %>
                <tr>
                    <td></td> <!--tem que relacionar o búfalo no banco cara me BATI MUITO mas ainda n sei fazer essa bosta -->
                    <td></td>
                    <td><%= item.nomeTratamento %></td>
                    <td><%= item.dataAplicacao %></td>
                    <td><%= item.dataRetorno %></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</div>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    const contraVerminoses = <%= contraVerminoses %>;
    const hemoglobinuriaBacilar = <%= hemoglobinuriaBacilar %>;
    const contraBrucelose = <%= contraBrucelose %>;
    const contraFebreAftosa = <%= contraFebreAftosa %>;
    const estomatiteVesicular = <%= estomatiteVesicular %>;


    // Criação do gráfico Sanitário 
    const ctxSanitario = document.getElementById('graficoSanitario').getContext('2d');
    const graficoSanitario = new Chart(ctxSanitario, {
        type: 'bar',
        data: {
            labels: ['Tratamento contra Verminoses', 'Tratamento da Hemoglobinúria Bacilar', 'Vacinação contra Brucelose', 'Vacinação contra Febre Aftosa', 'Medicação contra Estomatite Vesicular'],
            datasets: [{
                label: ['Tratamento contra Verminoses', 'Tratamento da Hemoglobinúria Bacilar', 'Vacinação contra Brucelose', 'Vacinação contra Febre Aftosa', 'Medicação contra Estomatite Vesicular'],
                data: [contraVerminoses, hemoglobinuriaBacilar, contraBrucelose, contraFebreAftosa, estomatiteVesicular],
                backgroundColor: [
                    'rgba(242, 184, 77, 0.8)',
                    'rgba(134, 78, 4, 0.8)',
                    'rgba(206,92,10,0.8)',
                    'rgba(206,125,10,0.8)'
                ],
                borderColor: [
                    'rgba(242, 184, 77, 1)',
                    'rgba(134, 78, 4, 1)',
                    'rgba(206,92,10,1)',
                    'rgba(206,125,10,1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            responsive: true,
            plugins: {
                legend: {
                    position: ''
                },
                tooltip: {
                    callbacks: {
                        label: function (tooltipItem) {
                            return tooltipItem.label + ': ' + tooltipItem.raw.toFixed(0);
                        }
                    }
                }
            }
        }
    });
</script>

<style>
    #graficoSanitario{
        max-width: 80vw; /* Ajuste conforme necessário */
        max-height: 40vh; /* Ajuste conforme necessário */
    }
</style>

<%- include('partials/footer.ejs') %>
