
<%- include('partials/header.ejs') %>
<%- include('partials/nav.ejs') %>
<%- include('partials/sidebar.ejs') %>

<div class="container">
    <h1>Controle Zootécnico</h1>
    <button type="button" class="btn btn-primary">
        Exportar Dados
    </button>

    <!-- Gráfico de Pizza -->
    <canvas id="graficoZootec" width="20" height="20"></canvas>

    <!-- Tabela de Alertas -->
    <div class="div-infos-func">
    <table class="table table-striped">
        <thead>
            <tr>
                <th style="background-color: #FFCF78;">TAG</th>
                <th style="background-color: #FFCF78;">Comprimento Corporal</th>
                <th style="background-color: #FFCF78;">Circunferência Corporal</th>
                <th style="background-color: #FFCF78;">Altura da Cernelha</th>
                <th style="background-color: #FFCF78;">Suplementação</th>
                <th style="background-color: #FFCF78;">ipo de Ração</th>
                <th style="background-color: #FFCF78;">Tipo de Pastagem</th>
            </tr>
        </thead>
        <tbody>
            <% bufalos.forEach(bufalo => { %>
                <% if (Array.isArray(bufalo.zootecnico) && bufalo.zootecnico.length > 0) { %>
                    <% bufalo.zootecnico.forEach(zootecnico => { %>
                        <tr>
                            <td><%= bufalo.tag %></td>
                            <td><%= zootecnico.comprimentoCorporal %></td>
                            <td><%= zootecnico.circunferenciaCorporal %></td>
                            <td><%= zootecnico.alturaCernelha %></td>
                            <td><%= zootecnico.suplementacao %></td>
                            <td><%= zootecnico.tipoRacao %></td>
                            <td><%= zootecnico.tipoPastagem %></td>
                        </tr>
                    <% }) %>
                <% } else { %>
                    <tr>
                        <td><%= bufalo.tag %></td>
                        <td colspan="6">Nenhum dado zootécnico disponível</td>
                    </tr>
                <% } %>
            <% }) %>
        </tbody>
        
    </table>
</div>

<%- include('partials/footer.ejs') %>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const bufalosSuplementacao = <%= bufalosSuplementacao %>
        const bufalosObservacao = <%= bufalosObservacao %>

        // Criação do gráfico de pizza
        const ctx = document.getElementById('graficoZootec').getContext('2d')
        const graficoZootec = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: ['Em Suplementação', 'Em Observação'],
                datasets: [{
                    label: 'Búfalos',
                    data: [bufalosSuplementacao, bufalosObservacao],
                    backgroundColor: [
                        'rgba(242, 184, 77, 255)',
                        'rgba(134, 78, 4, 255)',
                    ],
                    borderColor: [
                        'rgba(242, 184, 77, 255)',
                        'rgba(134, 78, 4, 255)',
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                plugins: {
                    legend: {
                        position: 'top'
                    },
                    tooltip: {
                        callbacks: {
                            label: function(tooltipItem) {
                                return tooltipItem.label + ': ' + tooltipItem.raw.toFixed(0)
                            }
                        }
                    }
                }
            }
        });
    });
</script>

<style>
    #graficoZootec {
        max-width: 200px; /* Altere para o tamanho desejado */
        max-height: 200px; /* Altere para o tamanho desejado */
    }
</style>
