<%- include('partials/header.ejs') %>
<%- include('partials/nav.ejs') %>
<%- include('partials/sidebar.ejs') %>

<div style="background-color: #FEF5E4;display: flex; width: 100%;flex-direction: column;flex-direction: column; justify-content: flex-start; ">
    <div style="background-color: #F5F5F5; width: 100%;height: 70px; margin-bottom: 10px;width: 100%;">
        <p style="margin-top: 20px; margin-left: 20px;">Controle Zootécnico</p>
        <div style="justify-content: right; display: flex;margin-left: auto;margin-top: -40px;">
                <button class="btn btn-dark" style="background-color: #2D220A;">Exportar dados</button>
        </div>
    </div>


    <!-- Gráfico de Pizza -->
    <canvas id="graficoSuplementacao" width="200" height="200"></canvas>
    <canvas id="graficoPasto" width="200" height="200"></canvas>

    <!-- Tabela de Alertas -->
    <div class="div-infos-func">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th style="background-color: #FFCF78;">TAG</th>
                    <th style="background-color: #FFCF78;">Comprimento Corporal</th>
                    <th style="background-color: #FFCF78;">Circunferência Corporal</th>
                    <th style="background-color: #FFCF78;">Altura da Cernelha</th>
                    <th style="background-color: #FFCF78;">Suplementação</th>
                    <th style="background-color: #FFCF78;">Tipo de Ração</th>
                    <th style="background-color: #FFCF78;">Tipo de Pastagem</th>
                </tr>
            </thead>
            <tbody>
                <% bufalos.forEach(bufalo => { %>
                    <% if (Array.isArray(bufalo.zootecnico) && bufalo.zootecnico.length > 0) { %>
                        <% bufalo.zootecnico.forEach(zootecnico => { %>
                            <tr>
                                <td><%= bufalo.tag %></td>
                                <td><%= zootecnico.comprimentoCorporal %></td>
                                <td><%= zootecnico.circunferenciaCorporal %></td>
                                <td><%= zootecnico.alturaCernelha %></td>
                                <td><%= zootecnico.suplementacao %></td>
                                <td><%= zootecnico.tipoRacao %></td>
                                <td><%= zootecnico.tipoPastagem %></td>
                            </tr>
                        <% }) %>
                    <% } else { %>
                        <tr>
                            <td><%= bufalo.tag %></td>
                            <td colspan="6">Nenhum dado zootécnico disponível</td>
                        </tr>
                    <% } %>
                <% }) %>
            </tbody>
        </table>
    </div>

    <%- include('partials/footer.ejs') %>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const suplementacaoMineral = <%= suplementacaoMineral %>;
            const suplementacaoProteico = <%= suplementacaoProteico %>;
            const suplementacaoEnergetico = <%= suplementacaoEnergetico %>;
            const suplementacaoVitaminico = <%= suplementacaoVitaminico %>;

            // Criação do gráfico Suplementos pizza
            const ctxSuplementacao = document.getElementById('graficoSuplementacao').getContext('2d');
            const graficoSuplementacao = new Chart(ctxSuplementacao, {
                type: 'pie',
                data: {
                    labels: ['Suplemento Proteico', 'Suplemento Mineral', 'Suplemento Energético', 'Suplemento Vitamínico'],
                    datasets: [{
                        label: 'Búfalos',
                        data: [suplementacaoMineral, suplementacaoProteico, suplementacaoEnergetico, suplementacaoVitaminico],
                        backgroundColor: [
                            'rgba(242, 184, 77, 0.8)',
                            'rgba(134, 78, 4, 0.8)',
                            'rgba(206,92,10,0.8)',
                            'rgba(206,125,10,0.8)'
                        ],
                        borderColor: [
                            'rgba(242, 184, 77, 1)',
                            'rgba(134, 78, 4, 1)',
                            'rgba(206,92,10,1)',
                            'rgba(206,125,10,1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    responsive: true,
                    plugins: {
                        legend: {
                            position: 'top'
                        },
                        tooltip: {
                            callbacks: {
                                label: function (tooltipItem) {
                                    return tooltipItem.label + ': ' + tooltipItem.raw.toFixed(0);
                                }
                            }
                        }
                    }
                }
            });

            const capimElefante = <%= capimElefante %>;
            const capimTanzania = <%= capimTanzania %>;
            const capimMombaca = <%= capimMombaca %>;
            const capimCoastCross = <%= capimCoastCross %>;

            // Criação do gráfico Pasto pizza
            const ctxPasto = document.getElementById('graficoPasto').getContext('2d');
            const graficoPasto = new Chart(ctxPasto, {
                type: 'pie',
                data: {
                    labels: ['Capim Elefante', 'Capim Tanzania', 'Capim Mombaça', 'Capim Coast Cross'],
                    datasets: [{
                        label: 'Búfalos',
                        data: [capimElefante, capimTanzania, capimMombaca, capimCoastCross],
                        backgroundColor: [
                            'rgba(242, 184, 77, 0.8)',
                            'rgba(134, 78, 4, 0.8)',
                            'rgba(206,92,10,0.8)',
                            'rgba(206,125,10,0.8)'
                        ],
                        borderColor: [
                            'rgba(242, 184, 77, 1)',
                            'rgba(134, 78, 4, 1)',
                            'rgba(206,92,10,1)',
                            'rgba(206,125,10,1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    responsive: true,
                    plugins: {
                        legend: {
                            position: 'top'
                        },
                        tooltip: {
                            callbacks: {
                                label: function (tooltipItem) {
                                    return tooltipItem.label + ': ' + tooltipItem.raw.toFixed(0);
                                }
                            }
                        }
                    }
                }
            });
        });
    </script>
</div>

<style>
    #graficoSuplementacao,
    #graficoPasto {
        max-width: 400px; /* Ajuste conforme necessário */
        max-height: 400px; /* Ajuste conforme necessário */
    }
</style>
